---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Limit the height of the hero container */
.page__hero {
    max-height: 350px;
    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;
    }
.page__hero--overlay::before {
    background-color: rgba(0, 0, 0, 0.4); /* or rgba(255,0,0,0.2) for red tint */
    mix-blend-mode: multiply;
    }
  
/* Force the img to fill and crop */
.page__hero-image {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
    object-position: center;
    display: block;
    }

  